<linkrel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
		/>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-brand">
            <a href="" class="navbar-item" style="font-weight: bold;" href="https://bulma.io">
                <img style="width:50px"
						src="/img/Icon_fourYou.png"
						/>
						<img style="width:125px"
						src="/img/fourYOU.png"
						/>
        </a>
            </a>
            