
    <!-- work on tags ------------------------>
    <span class="navbar-burger burger " data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="/" class="navbar-item is-active">Home</a>
            <a href="/messages" class="navbar-item">Messages</a>
            <a href="/newmessages" class="navbar-item">New Message</a>
            <a href="/explorer" class="navbar-item">Explorer</a>
            <a href="/newPost" class="navbar-item">New Post</a>
            <a href="/about" class="navbar-item">About</a>

            <a href="/users/add-article" class="navbar-item">Add Article</a>


            <form class="logout" action="/logout?_method=DELETE" method="POST">
            <button class="button is-primary " type="submit">Log Out</button></form>
            
        </div>
    </div> 
</nav> 