
    <!-- work on tags ------------------------>
    <span class="navbar-burger burger " data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="/users/profile" class="navbar-item is-active">Home</a>
            <a href="/explorer" class="navbar-item">Explore</a>
            {{! <a href="/setup_profile" class="navbar-item">Set up Profile</a> }}
            <a href="/messages" class="navbar-item">Messages</a>
            <a href="/newmessages" class="navbar-item">New Message</a>
            <a href="/newPost" class="navbar-item">New Post</a>
            <a href="/about" class="navbar-item">About</a>

            {{! <a href="/users/add-article" class="navbar-item">Add Article</a> }}

<li class="nav-item "> <a class="button is-primary" href="/logout">Logout Here</a></li>    



        </div>
    </div> 
</nav> 