<!doctype html>
<html lang="en">
  <head>
    {{> header}}
    <title>About</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  
    {{> menu}}

    {{username}}
    {{! <h1>About</h1> }}
    <section class="hero is-success is-medium is-bold">
    <div class="hero-body">
            <h1 class="title">
            About Us
            </h1>
            <h2 class="subtitle">
        Say Hello to the #FourYOU Team!
      </h2>
      <h3 class="title">
        <a href="https://github.com/mikecadima/Full-Stack-Project">Github Repo</a>
      </h3>
        </div>
    </div>
  </div>
</section>

<section>
<div class="tile is-ancestor mt-3">
  <div class="tile is-parent">
    <article class="tile is-child box">
    <figure class="image is-128x128 mb-4">
      <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/65040522?s=460&u=2ad055ccd4b23e2e0d7ef7c106f3cb01323b6b0f&v=4">
    </figure>
      <p class="title">Mike Cadima</p>
      <p class="subtitle">Github | <a href="https://github.com/mikecadima">@mikecadima</a></p>
      <div class="content">
        <p>Digital Crafts FullStack Student <br> 🔥 Summer 2020 | ATL</p>
      </div>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
    <figure class="image is-128x128 mb-4">
      <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/63179764?s=460&u=146962013522fe4e4fa7b0d34e72bb640ce3cdcc&v=4">
    </figure>
      <p class="title">PJ Almeida</p>
      <p class="subtitle">Github | <a href="https://github.com/palmeida7">@palmeida7</a></p>
      <div class="content">
        <p>Digital Crafts FullStack Student <br> 🔥 Summer 2020 | ATL</p>
      </div>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
    <figure class="image is-128x128 mb-4">
      <img class="is-rounded" src="https://avatars2.githubusercontent.com/u/66264982?s=400&u=608ace4b0516092c2b5170d6d6246b2c746dabb9&v=4">
    </figure>
      <p class="title">Eric Yim</p>
      <p class="subtitle">Github | <a href="https://github.com/tknyim">@tknyim</a></p>
      <div class="content">
        <p>Digital Crafts FullStack Student <br> 🔥 Summer 2020 | ATL</p>
      </div>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
    <figure class="image is-128x128 mb-4">
      <img class="is-rounded" src="https://avatars0.githubusercontent.com/u/65964734?s=460&u=319b1fb23c666b612e630b5f99a6faa42227fa1c&v=4">
    </figure>
      <p class="title">Ivan Davis</p>
      <p class="subtitle">Github | <a href="https://github.com/techbyivan">@techbyivan</a></p>
      <div class="content">
        <p>Digital Crafts FullStack Student <br> 🔥 Summer 2020 | ATL</p>
      </div>
    </article>
  </div>

  
</section>


{{> footer}}
  </body>
</html>