<!doctype html>
<html lang="en">
  <head>
   {{> header}}
    <title>About</title>
  </head>
  <body>
  
    {{> menu}}

    {{username}}
   <h1>About</h1>
   <section class="hero is-primary">
    <div class="hero-body">
            <h1 class="title">
            About fourYOU
            </h1>
        </div>
    </div>
</section>

{{> footer}}
  </body>
</html>