<!doctype html>
<html lang="en">
    <head>
    {{> header}}
    <title>Explore</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>

    {{> menu}}

    {{username}}
    {{! <h1>Explorer</h1> }}
		
<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-black">
    <div class="hero-body">
            <h1 class="title">
                Explore
            </h1>
            <h2 class="subtitle">
                View other posts by other users!
            </h2>
            
        </div>
    </div>
</section>

<!-- START RE-PASTING HERE -->
<section>
<nav class="level mt-4">
<!-- Left side -->
<div class="level-left ml-4">
    <div class="level-item">
        <p class="subtitle is-5">
            <strong>123</strong> posts
        </p>
    </div>

    <div class="level-item">
        <div class="field has-addons">
            <p class="control">
                <input class="input" type="text" placeholder="Find a post">
            </p>

            <p class="control">
                <button class="button">
                    Search
                </button>
            </p>
        </div>
    </div>
</div>

<!-- RIGHT SIDE OF NAV CONTROLS -->
<!-- ////////////////////////////////////////////////////////////////////// -->
{{! <div class="level-right mr-4">
    <p class="level-item"><strong>All</strong></p>
    <p class="level-item"><a>Liked</a></p>
    <p class="level-item"><a>Disliked</a></p>
    <p class="level-item"><a href="/newpost" class="button is-black">New</a>
    {{! <a class="button is-black">New</a> }}
    </p>
</div> 
</nav>
</section>

<!-- START OF CARD SECTION #1-->
<!-- ////////////////////////////////////////////////////////////////////// -->
<!-- CARD 1 -->
    <div class="columns is-multiline">
        <div class="column is-half">
<div class="card mt-4 ml-5">
<div class="card-content">
    <h2 class="title">UA UV | Japan</h2>
    <h4 class="subtitle">@uauv_ & July 31th, 2020</h4>

    <a href="https://placeholder.com"><img src="https://images.unsplash.com/photo-1580685921080-5d041b1deb0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></a>
</div>
<footer class="card-footer">
    <div class="card-footer-item">
        <a href="#" class="button is-primary">
            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
        </a>
    </div>

                    <div class="card-footer-item">
                        <a href="/newmessages" class="button is-warning">
                            <i class="fa fa-comments" aria-hidden="false"></i>
                        </a>
                    </div>

    <div class="card-footer-item">
        <a href="#" class="button is-danger">
            <i class="fa fa-thumbs-down" aria-hidden="false"></i>
        </a>
    </div>
</footer>
</div>
</div>
    
<!-- CARD 2 -->
{{! https://iamafoodblog.com/wp-content/uploads/2020/05/homemade-birria-tacos-recipe-3273w-500x500.jpg }}
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="column is-half">
<div class="card mt-4 ml-5">
<div class="card-content">
    <h2 class="title">Finland Shore</h2>
    <h4 class="subtitle">@finland203 & August 2nd, 2020</h4>

    <a href="https://placeholder.com"><img src="https://images.unsplash.com/photo-1596187511608-8c8e03ddb4a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80"></a>
</div>
<footer class="card-footer">
    <div class="card-footer-item">
        <a href="#" class="button is-primary">
            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
        </a>
    </div>

                    <div class="card-footer-item">
                        <a href="/newmessages" class="button is-warning">
                            <i class="fa fa-comments" aria-hidden="false"></i>
                        </a>
                    </div>

    <div class="card-footer-item">
        <a href="#" class="button is-danger">
            <i class="fa fa-thumbs-down" aria-hidden="false"></i>
        </a>
    </div>
</footer>
</div>
</div>

<!-- CARD 3 -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<div class="column is-half">
<div class="card mt-4 ml-5">
<div class="card-content">
    <h2 class="title">thumbsUP!</h2>
    <h4 class="subtitle">@happy_230 & August 3rd, 2020</h4>

    <a href="https://placeholder.com"><img src="https://images.unsplash.com/photo-1524293568345-75d62c3664f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=954&q=80"></a>
</div>
<footer class="card-footer">
    <div class="card-footer-item">
        <a href="#" class="button is-primary">
            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
        </a>
    </div>

                    <div class="card-footer-item">
                        <a href="/newmessages" class="button is-warning">
                            <i class="fa fa-comments" aria-hidden="false"></i>
                        </a>
                    </div>

    <div class="card-footer-item">
        <a href="#" class="button is-danger">
            <i class="fa fa-thumbs-down" aria-hidden="false"></i>
        </a>
    </div>
</footer>
</div>
</div>

{{! Card #4 }}
<div class="column is-half">
<div class="card mt-4 ml-5">
<div class="card-content">
    <h2 class="title">Comic of the Day</h2>
    <h4 class="subtitle">@daily_comic & July 29th, 2020</h4>

    <a href="https://placeholder.com"><img src="https://i.kym-cdn.com/photos/images/original/001/567/852/24e.png"></a>
</div>
<footer class="card-footer">
    <div class="card-footer-item">
        <a href="#" class="button is-primary">
            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
        </a>
    </div>

                    <div class="card-footer-item">
                        <a href="/newmessages" class="button is-warning">
                            <i class="fa fa-comments" aria-hidden="false"></i>
                        </a>
                    </div>

    <div class="card-footer-item">
        <a href="#" class="button is-danger">
            <i class="fa fa-thumbs-down" aria-hidden="false"></i>
        </a>
    </div>
</footer>
</div>
</div>

{{! Card #5 }}
<div class="column is-half">
<div class="card mt-4 ml-5">
<div class="card-content">
    <h2 class="title">Hong Kong Night Ride</h2>
    <h4 class="subtitle">@hkChina32 & August 4th, 2020</h4>

    <a href="https://placeholder.com"><img src="https://images.unsplash.com/photo-1584284807530-cb3c3248adc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"></a>
</div>
<footer class="card-footer">
    <div class="card-footer-item">
        <a href="#" class="button is-primary">
            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
        </a>
    </div>

                    <div class="card-footer-item">
                        <a href="/newmessages" class="button is-warning">
                            <i class="fa fa-comments" aria-hidden="false"></i>
                        </a>
                    </div>

    <div class="card-footer-item">
        <a href="#" class="button is-danger">
            <i class="fa fa-thumbs-down" aria-hidden="false"></i>
        </a>
    </div>
</footer>
</div>
</div>

<!-- END OF CARD ROW -->
<!-- //////////////////////////////////////////////////////////////////////////// -->



{{> footer}}
</body>
</html>