<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
		/>

		<title>Login</title>
	</head>
	<body>
		
        <!-- navbar -------------------------->
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a href="" class="navbar-item" style="font-weight: bold;" href="https://bulma.io">
						<img src="/img/Icon_fourYou.png">
					<img src="/img/fourYOU.png">
				</a>
                    </a>
					<!-- <span class="navbar-burger burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</span> -->
				<!-- </div>
			</div>
			<div id="navMenu" class="navbar-menu">
				<div class="navbar-end">
					<a href="#" class="navbar-item is-active">Home</a>
					<a href="#" class="navbar-item">About</a>
					<a href="#" class="navbar-item">Blog</a>
					<a href="#" class="navbar-item">Read Me</a>
				</div>

			</div>  -->
		</nav> 
		<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<!-- <h1 class="title">
				Login 
			</h1> -->
			<h2 class="title">
				Welcome to FourYOU! 
			</h2>
			
		</div>
	</div>

		<!-- login section -->
		<!-- <section class="hero is-light"> -->
	<section class="hero has-background-black is-fullheight-with-navbar">
		<div class="hero-body">
				<div class="container">
					<h1 class="title has-text-white">Login</h1>

					<!-- <div class="level-item"> -->
						<!-- <div class="column is-4"> -->
						<!-- <h1 class="title has-text-white">Login</h1> -->
						<img style="width:50px"
						src="/img/Icon_fourYou.png"
						/>
						<img style="width:100px"
						src="/img/fourYOU.png"
						/>

<!-- old version -->
<h1 class="title has-text-black">Login Page</h1>

		<% if (messages.error) { %> <%= messages.error %> <% } %>
		<form class="field" action="/login" method="POST">
			<div>
				<label class="label has-text-white" for="email">Email</label>
				<input class="input" type="email" id="email" name="email" required />
			</div>
			<div>
				<label class="label has-text-white" for="password">Password</label>
				<input class="input" type="password" id="password" name="password" required />

			</div>
			<button class="button is-primary mt-4" type="submit">Login</button>
			<a class="button is-white mt-4 " href="/register">Register</a>
<!-- Terms and conditions feild -->
<div class="field">
	<div class="control">
		<!-- <label class="label has-text-white">Terms</label> -->
			<label class="checkbox">
				<input type="checkbox">
					I agree to the terms and conditions</a>
			</label>
	</div>
</div>
<!-- forgot password section -->
<section>
	<div class="button is-primary mt-5">Forgot password</div>
</section>
		</div>
</div>
</div>
</div>

</form>

</section>

<!-- <h1 class="title has-text-black">Login Page</h1>

		<% if (messages.error) { %> <%= messages.error %> <% } %>
		<form class="field" action="/login" method="POST">
			<div>
				<label class="label has-text-white" for="email">Email</label>
				<input type="email" id="email" name="email" required />
			</div>
			<div>
				<label class="label has-text-white" for="password">Password</label>
				<input type="password" id="password" name="password" required />

			</div>
			<button class="button is-primary mt-4" type="submit">Login</button>
			<a class="button is-white mt-4 " href="/register">Register</a>


		</div>
</div>
</div>
</div>
</form> -->

		<script src="/js/hamburger.js" type="module"></script>
	</body>
</html>
