<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>Messages</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<!-- navbar -------------------------->
{{> menu}}
<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-warning">
    <div class="hero-body">
            <h1 class="title">
                Messages
            </h1>
            <h2 class="subtitle">
                View all your messages!
            </h2>
        </div>
    </div>
</section>

<!-- SEARCH POST SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->	
<section>
<nav class="level is-pulled-right mt-4">
<!-- Left side -->
{{! <div class="level-left ml-4">
    <div class="level-item">
        <p class="subtitle is-5">
            <strong>123</strong> posts
        </p>
    </div> }}
    
    {{! <div class="level-item">
        <div class="field has-addons">
            <p class="control">
                <input class="input" type="text" placeholder="Find a post">
            </p>

            <p class="control">
                <button class="button">
                    Search
                </button>
            </p>
        </div>
    </div>
</div> }}

<!-- RIGHT SIDE OF NAV CONTROLS -->
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="level-right mr-4">
    <p class="level-item"><a>Liked</a></p>
    <p class="level-item"><a>Disliked</a></p>
    <p class="level-item"><a>Deleted</a></p>
    <p class="level-item"><a>Messages</a></p>
    <p class="level-item"><a href="/newmessages" class="button is-black">New</a></p>
</div>
</nav>
</section>


<!-- MESSAGE #1 START-->
<!-- ////////////////////////////////////////////////////////////////////// -->
<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/1908c2cf1a7fad1d9957fa59bec3fe67?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Reba McEntire</strong> <small>@RebaMcEntire</small> <small>31m</small>
        <br>
        I love this platform!! It's awesome to see you guys!
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
{{! <div class="media-right">
<button class="delete"></button>
</div> }}
</article>

<!-- MESSAGE #2 START-->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/75375069345093f627387ec9759c5397?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Snoop Dogg</strong> <small>@ogsnoopdogg20</small> <small>39m</small>
        <br>
        Yall should come to my next concert!
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #3 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/268645710a8a35e781451de1a4ed6266?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Sarah Palin</strong> <small>@sarahpalinak</small> <small>40m</small>
        <br>
        Text me the address show I can show up!
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div> 
</article>

<!-- MESSAGE #4 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/04e89f730d47fffc31fa27726723b3f7?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Bill Clinton</strong> <small>@billclinton</small> <small>43m</small>
        <br>
        Anyone know any great restaurants near by? 
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #5 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/89991c5d7eb58e39d86e5a10b6daaf2f?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Snoop Dogg</strong> <small>@ogsnoopdogg20</small> <small>48m</small>
        <br>
        I thnk there's a great pizza spot near Georgia Tech in mid-town!
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #6 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://gravatar.com/avatar/9c1aaaccb7294c6065a128edf9b33722?s=200&d=robohash&r=x">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Queen Elizabeth</strong> <small>@theQuen</small> <small>55m</small>
        <br>
        Why don't we meet up for lunch? 
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div> 
</article>


<!-- END OF MESSAGES -->
<!-- //////////////////////////////////////////////////////////////////////////// -->



{{> footer}}
  </body>
</html>

<!-- END OF MESSAGES -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- <script src="/js/hamburger.js" type="module"></script> -->

</body>
</html>
