<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>Messages</title>
</head>
<body>
<!-- navbar -------------------------->
{{> menu}}
<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-warning">
    <div class="hero-body">
            <h1 class="title">
                Messages
            </h1>
        </div>
    </div>
</section>

<!-- SEARCH POST SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->	
<section>
<nav class="level mt-4">
<!-- Left side -->
<div class="level-left ml-4">
    <div class="level-item">
        <p class="subtitle is-5">
            <strong>123</strong> posts
        </p>
    </div>
    
    <div class="level-item">
        <div class="field has-addons">
            <p class="control">
                <input class="input" type="text" placeholder="Find a post">
            </p>

            <p class="control">
                <button class="button">
                    Search
                </button>
            </p>
        </div>
    </div>
</div>

<!-- RIGHT SIDE OF NAV CONTROLS -->
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="level-right mr-4">
    <p class="level-item"><a>Liked</a></p>
    <p class="level-item"><a>Disliked</a></p>
    <p class="level-item"><a>Deleted</a></p>
    <p class="level-item"><a>Messages</a></p>
    <p class="level-item"><a class="button is-black">New</a></p>
</div>
</nav>
</section>


<!-- MESSAGE #1 START-->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Reba McEntire</strong> <small>@RebaMcEntire</small> <small>31m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #2 START-->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Snoop Dogg</strong> <small>@ogsnoopdogg20</small> <small>39m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #3 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Sarah Palin</strong> <small>@sarahpalinak</small> <small>40m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div> 
</article>

<!-- MESSAGE #4 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Bill Clinton</strong> <small>@billclinton</small> <small>43m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #5 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Snoop Dogg</strong> <small>@ogsnoopdogg20</small> <small>48m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div>
</article>

<!-- MESSAGE #6 START -->
<!-- ////////////////////////////////////////////////////////////////////// -->

<!-- IMAGE -->
<article class="media ml-6 mr-6 mt-6">
<figure class="media-left">
<p class="image is-64x64">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</p>
</figure>

<!-- MESSAGE -->
<div class="media-content">
<div class="content">
    <p>
        <strong>Queen Elizabeth</strong> <small>@theQuen</small> <small>55m</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    </p>
</div>
</div>

<!-- DELETE BUTTON -->
<div class="media-right">
<button class="delete"></button>
</div> 
</article>


<!-- END OF MESSAGES -->
<!-- //////////////////////////////////////////////////////////////////////////// -->



{{> footer}}
  </body>
</html>

<!-- END OF MESSAGES -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- <script src="/js/hamburger.js" type="module"></script> -->

</body>
</html>
