<!doctype html>
<html lang="en">
  <head>
   {{> header}}
    <title>Login</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  
    {{> menu}}

    {{username}}
   {{! <h1>New Messages</h1> }}

<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-warning">
    <div class="hero-body">
            <h1 class="title">
                New Message
            </h1>
        </div>
    </div>
</section>


<!-- FORM START-->
<!-- ////////////////////////////////////////////////////////////////////// -->

<section class="field mt-6 mr-6 ml-6" >
<div class="field">
<label class="label">Message</label>
    <div class="control">
        <input class="input" style="width: 500px;" type="text" placeholder="enter message...">
    </div>
</div>

<!-- SUBMIT & CANCEL BUTTON -->
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="field is-grouped mt-6">
<div class="control">
    <button class="button is-warning ">Submit</button>
</div>
<div class="control">
    <button class="button is-light"><a href="/messages" class="button is-light">Cancel</a></button>
</div>
</div>
</section>

{{> footer}}
  </body>
</html>