<!doctype html>
<html lang="en">
  <head>
   {{> header}}
    <title>Login</title>
  </head>
  <body>
  
    {{> menu}}

    {{username}}
   <h1>New Post</h1>

<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-primary">
    <div class="hero-body">
            <h1 class="title">
                New Post
            </h1>
        </div>
    </div>
</section>


<!-- FORM START-->
<!-- ////////////////////////////////////////////////////////////////////// -->

<section class="field mt-6 mr-6 ml-6">
<div class="field">
<label class="label">Image Title</label>
    <div class="control">
        <input class="input" type="text" placeholder="enter title">
    </div>
</div>


<!-- IMAGE UPLOAD -->
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="field">
<label class="label has-text-white mt-4">Profile Image</label>
</div>

<label class="label">Upload Image</label>
<div class="file is-boxed">
<label class="file-label">
    <input class="file-input" type="file" name="resume">
        <span class="file-cta">
            <span class="file-icon">
                <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
                Choose a file…
            </span>
        </span>
</label>
</div>

<!-- SUBMIT & CANCEL BUTTON -->
<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="field is-grouped mt-6">
<div class="control">
    <button class="button is-link ">Submit</button>
</div>
<div class="control">
    <button class="button is-link is-light">Cancel</button>
</div>
</div>
</section>


{{> footer}}
  </body>
</html>