<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <title>Register</title>
</head>
<body>
<!-- navbar -------------------------->
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-brand">
            <a href="" class="navbar-item" style="font-weight: bold;" href="https://bulma.io">
                <img style="width:50px"
						src="/img/Icon_fourYou.png"
						/>
						<img style="width:125px"
						src="/img/fourYOU.png"
						/>
        </a>
            </a>
            <!-- <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </div> -->

    <form class="" action="/register" method="POST">

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="#" class="navbar-item is-active">Home</a>
            <a href="#" class="navbar-item">About</a>
            <a href="#" class="navbar-item">Blog</a>
            <a href="#" class="navbar-item">Read Me</a>
        </div>
    </div> 
</nav> 
<!-- HERO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->		
<section class="hero is-primary">
<div class="hero-body">
<div class="container">
    <!-- <h1 class="title">
        Login 
    </h1> -->
    <h2 class="title">
        Welcome to FourYOU! 
    </h2>
    
</div>
</div>

<!-- register section new-->
<!-- <section class="hero is-light "> -->
<section class="hero has-background-black is-fullheight-with-navbar">

    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white">Registration</h1>
            <img style="width:50px"
						src="/img/Icon_fourYou.png"
						/>
						<img style="width:125px"
						src="/img/fourYOU.png"
                        />

<!-- basic version                         -->
<h1></h1>
<form action="/register" method="POST">
    <div>
    <label class="label has-text-white" for="name">Name</label>
    <input class="input" type="text" id="name" name="name" required>
    </div>
    <div>
    <label class="label has-text-white" for="email">Email</label>
    <input class="input" type="email" id="email" name="email" required>
    </div>
    <div>
    <label class="label has-text-white" for="password">Password</label>
    <input class="input" type="password" id="password" name="password" required>
    </div>
    <button class="button is-white mt-4 " type="submit">Register</button>
</form>

<!-- new VERSION -->
<!-- <form class="" action="/register" method="POST">

<div class="field">
    <label class="label has-text-white" for="name">Name</label>
    <div class="control has-icons-left has-icons-right">

    <input type="text" id="name" name="name" placeholder="username"
    required>
    <span class="icon is-small is-right">
        <i class="fa fa-user"></i>
    </span>
    </div>
</div>

<div>
    <label class="subtitle has-text-black" for="email">Email</label>
    <input type="email" id="email" name="email"
    required>
</div>

<div>
    <label class="subtitle has-text-black" for="password">Password</label>
    <input type="password" id="password" name="password"
    required>
</div>

<button type="submit">Register</button>
</form>
<a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
</form> -->


<!-- <script src="/js/hamburger.js" type="module"></script> -->

</body>
</html>