body {
    background: rgb(43, 41, 41);
    color: white;
}

.form-group {
    margin: auto;
    text-align: center;
}
.cov-label {
    display: block;
    margin-top: 5px;
    margin-left: 3px;
}
.cov-img {
    cursor: pointer;
    width: 700px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}

.cov-control {
    display: none;
}

.avag-style {
    position: relative;
    font-size: 150%;
    bottom: -90px;
    opacity: 0.5;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
}
.ava-label {
    display: block;
    margin-top: 5px;
    margin-left: 3px;
}
.ava-img {
    cursor: pointer;
    position: relative;
    bottom: 100px;
    z-index: 1;
    border: 5px solid rgba(110, 105, 105, 0.555);
    border-radius: 50%;
    -moz-border-radius: 50%;
    height: 120px;
    overflow: hidden;
}
.ava-control {
    display: none;
}
/* .bio-section {
    margin-top: -30px;
} */
textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}