<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Four YOU!</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
        />
        <link rel="shortcut icon" href="/favicon-fy.ico" type="image/x-icon">
        <link rel="icon" href="/favicon-fy.ico" type="image/x-icon">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	</head>
	<body>

<!-- NAVBAR SECTION START -->
<!-- //////////////////////////////////////////////////////////////////////// -->
		<nav class="navbar is-black" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="https://bulma.io">
					<img src="./../img/Icon_fourYou.png">
					<img src="./../img/fourYOU.png"/>
                </a>
                
                    <a class="navbar-item">
                        Home
                    </a>
            
                    <a class="navbar-item">
                        Profile
                    </a>
                    
                    <a class="navbar-item">
                        Read Me
                    </a>

<!-- NAVBAR SUB-MENU FUNCTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->
				<a
					role="button"
					class="navbar-burger burger"
					aria-label="menu"
					aria-expanded="false"
					data-target="navbarBasicExample"
				>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>


<!-- NAVBAR REGISTER BUTTONS -->
<!-- //////////////////////////////////////////////////////////////////////// -->


				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<!-- <a class="button is-black">
								L O G O U T
							</a> -->
							<!-- <a class="button is-black"> 
								LOGIN
							</a> -->
						</div>
					</div>
				</div>
			</div>
        </nav>

<!-- NAVBAR SECTION END -->
<!-- //////////////////////////////////////////////////////////////////////// -->



<!-- CREATE / EDIT PROFILE START -->
<!-- //////////////////////////////////////////////////////////////////////// -->      

        <section class="hero has-background-black is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-white">Create / Edit Profile</h1>

                        <div class="field" style="width: 300px">
                            <label class="label has-text-white">Full Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input id="fullname" name="fullname" class="input" type="text" placeholder="full name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>


<!-- PROFILE IMAGE SECTION  -->
<!-- //////////////////////////////////////////////////////////////////////// -->   
                    <div class="field">
                        <label class="label has-text-white mt-6">Profile Image</label>
                    </div>

                    <!-- FILE UPLOAD BUTTON -->
                    <section>
                        <div class="file is-small">
                            <label for="avatar" class="file-label">
                                <span class="file-cta mr-6">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file...
                                    </span>
                                </span>
                                <img class="ava-img image is-128x128 mb-4" src="http://www.ukm.my/portal/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" id="poimg">
                                <input id="avatar" class="file-input" type="file" name="avatar"> 
                            </label>
                        </div>
                    </section>



<!-- COVER IMAGE SECTION  -->
<!-- //////////////////////////////////////////////////////////////////////// -->   
<section>
<div class="field">
    <label class="label has-text-white mt-4">Cover Image</label>
</div>

                            <!-- FILE UPLOAD BUTTON START-->
                        <section>
                            <div class="field">
                                <label class="file-label">
                                    <div class="file is-small">
                                        <span class="file-cta mr-6">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file...
                                            </span>
                                        </span>
                                        <img class="cov-img image is-128x128 mb-4" src="https://pflugerville-vortexsportscenter.com/wp-content/uploads/2017/04/default-image-800x600.jpg" id="coimg">
                                        <input id="cover" class="file-input" type="file" name="cover">
                                    </label>
                                </div>
                            </div>
                        </section>
                    </section>
                            <!-- FILE UPLOAD BUTTON END-->



<!-- BIO SECTION -->
<!-- //////////////////////////////////////////////////////////////////////// -->                    
<section>
    <div class="field" style="width: 300px;">
        <label class="label has-text-white mt-4">Bio</label>
        <div class="control">
            <textarea id="bio" name="bio" class="textarea is-primary" placeholder="enter bio here..."></textarea>
        </div>
    </div>
</section>


<!-- SUBMIT BUTTON -->
<!-- //////////////////////////////////////////////////////////////////////// -->
<section>
    <button id="submit" class="button is-link ml-6 mt-6">Submit</button>
    <button id="submit" class="button is-light ml-4 mt-6">Cancel</button>
</section>
</div>
</div>
</section>
<script src="/js/avatar.js" type="module"></script>
</body>
    <!-- CREATE / EDIT PROFILE END -->
<!-- //////////////////////////////////////////////////////////////////////// -->    
</html> 